.input {
	margin-right: 20px;
  	font-family: 'Julius Sans One', sans-serif;
    width: 220px;
}

.addStaffButton {
	width: 476px;
	margin-top: 10px;
  	font-family: 'Julius Sans One', sans-serif;
}

.processButton {
	width: 476px;
	margin-top: 10px;
  	font-family: 'Julius Sans One', sans-serif;
}

.singleInput {
	margin-top: 10px;
	display: flex;
}

.red {
	border-color: red;
}

.error {
	color: red;
	font-size: 10px;
}

.quotaTitle {
    display: flex;
    align-items: center;
    padding-left: 56px;
  	font-family: 'Julius Sans One', sans-serif;
    font-size: 14px;
    padding-top: 4px;
}

.contentContainerContainer {
	display: flex;
    flex-direction: column;
}