.logo-wrapper {
  height: 70px;
  padding-left: 70px;
}

.logo {
  height: 100%;
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 1000px;
  margin: auto;
}